::ng-deep .paginator {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  gap: 5px; /* Add spacing between rows */
}

::ng-deep .p-paginator-current {
  order: -1;
  align-self: center;
}

::ng-deep .p-paginator .p-paginator-first,
::ng-deep .p-paginator .p-paginator-last {
  display: none;
}

::ng-deep .p-paginator .p-paginator-next,
::ng-deep .p-paginator .p-paginator-prev {
  display: none;
}
