<p-table
  stripedRows
  [columns]="selectedColumns"
  [value]="partners"
  [paginator]="true"
  [rows]="16"
  [first]="first"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  (onPage)="pageChange($event)"
  paginatorStyleClass="paginator"
  showFirstLastIcon="false"
>
  <ng-template #caption>
    <div class="datepicker-custom">
      <label for="on_label" class="label-datepicker">
        <i class="pi pi-calendar-minus"></i>
      </label>
      <p-datepicker
        [(ngModel)]="rangeDates"
        selectionMode="range"
        [readonlyInput]="true"
        class="custom-datepicker"
        dateFormat="M dd, yy"
        [iconDisplay]="'input'"
        [showIcon]="true"
        inputId="on_label"
      >
        <ng-template #inputicon let-clickCallBack="clickCallBack">
          <i class="pi pi-caret-down" (click)="clickCallBack($event)"></i>
        </ng-template>
      </p-datepicker>
    </div>
    <div class="group-btn">
      <p-multiselect
        [options]="cols"
        optionLabel="name"
        [(ngModel)]="selectedColumns"
        selectedItemsLabel="Choose Columns"
        [style]="{ 'min-width': '200px' }"
        placeholder="Choose Columns"
        styleClass="p-button-rounded p-button-info"
      >
        <ng-template pTemplate="dropdownicon">
          <i class="pi pi-align-justify"></i>
        </ng-template>
      </p-multiselect>
      <p-toast />
      <p-button
        label="MessagePartners"
        (click)="showSuccess(messageEmail)"
        icon="pi pi-envelope"
        iconPos="right"
        [rounded]="true"
        severity="info"
      />
      <p-button
        label="Export List"
        (click)="showSuccess(messageExport)"
        icon="pi pi-download"
        iconPos="right"
        [rounded]="true"
        severity="info"
      />
    </div>
  </ng-template>
  <ng-template #header let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        (click)="toggleSort(col)"
        [style.cursor]="'pointer'"
        [style.width]="col.width"
        pSortableColumn="{{ col.field }}"
        class="header-custom"
      >
        {{ col.name }}
        <span *ngIf="col.field">
          <i *ngIf="col.sortOrder === 1" class="pi pi-sort-amount-up"></i>
          <i *ngIf="col.sortOrder === -1" class="pi pi-sort-amount-down"></i>
          <i
            *ngIf="!col.sortOrder || col.sortOrder === 0"
            class="pi pi-sort"
          ></i>
        </span>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-partner let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <ng-container *ngIf="partner?.[col.field]; else showButton">
          {{ partner[col.field] }}
        </ng-container>
        <ng-template #showButton>
          <p-button label="Detail" icon="pi pi-list" iconPos="left" severity="info" rounded></p-button>
        </ng-template>
      </td>
      <td>
      </td>
    </tr>
  </ng-template>
</p-table>
